button {
  font-size: var(--fs-sm);
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.blue {
  background-color: var(--blue);
  color: var(--white);
}

.blue:hover {
  transition-duration: 200ms;
  background-color: var(--blue-dark);
}

.white {
  background-color: var(--white);
  color: var(--blue);
}

.white:hover {
  transition-duration: 200ms;
  background-color: var(--blue-dark);
  color: var(--white);
}
